<div>
  <h1>Welcome!</h1>

  <%=form_tag(action: "/search" method: "GET") do %>
    <%=label_tag(:id, "Enter an account id")%>
    <%=text_field_tag(:id)%>
    <%=submit_tag("Submit")%>
  <%end%>

  <%=button_to "New Account", action: "create", method: "POST"%>

</div>
