<div>
  <h1>Your Account</h1>
  <p>Apr:<%=@account.apr%></p>
  <p>Credit Limit: <%=@account.credit_limit%></p>
  <p>Outstanding Balance:
    <%if @account.transactions.last%>
      <%=@account.transactions.last.new_balance%>
    <%else%>
      <%=@account.current_balance%>
    <%end%>
    </p>
  <%=button_to "Make a transaction", new_account_transaction_path(@account), method: "GET"%>
</div>
